body {
    margin: 2cm 3cm 3cm 3cm;
    padding: 0px;
    font-family: "Quicksand", sans-serif;
    background-color: #f1eded;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1eded;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

nav.scrolled {
    background-color: #8c5767;
}

nav h1 {
    color: #000000;
    font-size: 2.5rem;
    margin: 0;
  }
  
nav a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    transition: color 0.3s ease; 
  }

nav a:hover {
    color: #8c5767;
  }
  
nav ul {
    display: flex;
    gap: 1.9rem;
    list-style: none;
    margin: 0;
  }
  
nav ul li {
    font-weight: bold;
  }

.burger-menu {
    color: #8c5767;
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 5rem;
    max-width: 800px;
    margin: 0 auto;
}

.bio {
    max-width: 800px;
    text-align: left;
}

.Contact {
    max-width: 800px;
    text-align: left;
}

.Contact h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.awards {
    max-width: 800px;
    text-align: left;
}

.misc {
    max-width: 800px;
    text-align: left;
}

.bio, .Contact, .awards, .misc h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.Contact, .awards, .misc h1 {
    padding: 0 1.5rem;
}

.bio, .Contact, .awards, .misc p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.footer {
    background-color: #f1eded;
    padding: 4rem 3.5rem;
    text-align: center;
    margin-top: 5rem;
    border-top: 1px solid #000000;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

footer ul li {
    font-size: 1.5rem;
}

footer ul li a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #8c5767;
}