body {
    background-color: #d5d0d0;
}

body, nav, ul {
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand", sans-serif;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #d5d0d0;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

nav.scrolled {
    background-color: #8c5767; /* Background color after scroll */
    padding: 1rem 2rem; /* Adjust padding after scroll */
}

nav h1 {
    color: #000000;
    font-size: 2rem;
  }
  
nav a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    transition: color 0.3s ease; 
  }

nav a:hover {
    color: #8c5767;
  }
  
nav ul {
    display: flex;
    gap: 1.9rem;
    list-style: none;
  }
  
nav ul li {
    font-weight: bold;
  }

.burger-menu {
    color: #8c5767;
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

.hero {
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Center the text elements */
    max-width: 80rem; /* Adjust the max-width as needed */
    text-align: left; /* Center align the text */
}

.bio h1 {
    font-size: 4rem;
}

.bio h3 {
    font-size: 2.5rem;
}

.bio p {
    font-size: 1.5rem;
}