body, nav, ul {
    margin: 0px;
    padding: 0px;
    font-family: "Lora", serif;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #debdce;
}

nav h1 {
    color: #e070aa;
  }
  
nav a {
    color: #e070aa;
    /**transition: hover;**/
  }

nav a:hover {
    color: #a3527c;
  }
  
nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
nav ul li {
    font-weight: bold;
  }

.burger-menu {
    color: #e070aa;
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }